<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Your Dankery</title>
</head>
<body>
    {% extends "base.html" %}

    {% block title%}Edit Recipe{% endblock %}

    {% block content %}
        <div class="main">
            <div id="right">
            <form action="/editdank/{{recId}}" method="POST">
                <select name="recType">
                    <option name="hlthyRec">Healthy Recipe</option>
                    <option name="dankRec" selected="selected">That Dank Dank</option>
                </select><br>
                <label for="recname">Recipe Name:</label><br>
                <input style="width: 45%;" type="text" id="recname" name="recname" value="{{name}}"><br>
                <label for="ingredients">Ingredients:</label><br>
                <input class="recentry" type="text" id="ingredients" name="ingredients" value="{{ingredients}}"><br>
                <label for="preperation">Preperation:</label><br>
                <textarea class="recentry" name="preperation" id="preperation" rows="15" cols="75">{{preperation}}</textarea><br>
                <label for="cooking">Instructions:</label><br>
                <textarea class="recentry" name="cooking" id="cooking" rows="15" cols="75">{{cooking}}</textarea><br>
                <input type="submit" value="Edit">
            </form>
            </div>
        </div>
    {% endblock %}

</body>
</html>