<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <!--Inheritance-->
    {% extends "base.html" %}

    <!--Title-->
    {% block title %}Login{% endblock %}

    <!--Login Content-->
    {% block content %}
    <div class="main">
        <h1 class="welcome">Already have an account? Login!</h1>
        {% if sorry %}
            <p style="color: red;">Sorry please try again</p>
        {% endif %}
        <div class="log">
            <form action="/login" method="POST">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username"><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password"><br>
                <input type="submit" value="Login">
            </form>
        </div>
        <h1>Sign up here!</h1>
        <form action="/signup" method="POST">
            <label for="usernameS">Username:</label><br>
            <input type="text"  id="usernameS" name="usernameS"><br>
            <label for="passwordS">Password:</label><br>
            <input type="password" id="passwordS" name="passwordS"><br>
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="nameS"><br>
            <input type="submit" value="Sign Up!">

        </form>
    </div>
    {% endblock %}


</body>
</html>