<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Profile</title>
</head>
<body>
    <!--Inheritance-->
    {% extends "base.html" %}

    <!--User Content-->
    {% block content %}
    <script>
        login = document.getElementById("login");
        login.innerHTML = '<li id=' + 'login' + '><a href="/logout">Logout</a></li>';
    </script>

    <div class="main">
        <h1>Welcome {{username}}</h1>
        <div id="left">
            <h1>Healthy Recipes</h1>
            {% if hlthyRecs %}
                {% for item in hlthyRecs %}
                    <h3>{{item.name}} <a href="/edithlthy/{{item.id}}">Edit</a> <a href="/hlthydelete/{{item.id}}">Delete</a> </h3>
                    <ul>
                        <li class="ingredients">Ingredients: {{item.ingredients}}</li>
                        <li class="preperation">Preperation: {{item.preperation}}</li>
                        <li class="cooking">Cooking Instructions: {{item.cooking}}</li>
                    </ul>
                {% endfor %}
            {% endif %}

            <h1>Dank Recipes</h1>
            {% if dankRecs %}
                {% for item in dankRecs %}
                    <h3>{{item.name}} <a href="/editdank/{{item.id}}">Edit</a> <a href="/dankdelete/{{item.id}}">Delete</a> </h3>
                    <ul>
                        <li class="ingredients">Ingredients: {{item.ingredients}}</li>
                        <li class="preperation">Preperation: {{item.preperation}}</li>
                        <li class="cooking">Cooking Instructions: {{item.cooking}}</li>
                    </ul>
                {% endfor %}
            {% endif %}
        </div>

        <div id="right">
            <h1>Make a recipe!</h1>
            <form action="/profile" method="POST">
                <lablel for="recType">Recipe Type:</lablel><br>
                <select id="recType" name="recType">
                    <option name="hlthyRec">Healthy Recipe</option>
                    <option name="dankRec">That Dank Dank</option>
                </select><br>
                <label for="recname">Recipe Name:</label><br>
                <input style="width: 45%;" type="text" id="recname" name="recname"><br>
                <label for="ingredients">Ingredients:</label><br>
                <input class="recentry" type="text" id="ingredients" name="ingredients"><br>
                <label for="preperation">Preperation:</label><br>
                <textarea class="recentry" name="preperation" id="preperation" rows="15"></textarea><br>
                <label for="instructions">Instructions:</label><br>
                <textarea class="recentry" name="cooking" id="instructions" rows="15" cols="75"></textarea><br>
                <input type="submit" value="Add Recipe!">
            </form>
        </div>
    </div>
    {% endblock %}
</body>
</html>