<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <!--Inheritance-->
    {% extends "base.html" %}

    <!--Title-->
    {% block title %}Profile{% endblock %}

    <!--User Content-->
    {% block content %}
        <h1>Welcome {{username}}</h1>
        <h1>Make a recipe!</h1>
        <form action="/profile" method="POST">
            <select name="recType">
                <option name="hlthyRec">Healthy Recipe</option>
                <option name="dankRec">That Dank Dank</option>
            </select><br>
            Name:<input type="text" name="recname"><br>
            Ingredients:<input type="text" name="ingredients"><br>
            Preperation:<textarea name="preperation" rows="15" cols="20"></textarea><br>
            Cooking Instructions: <textarea name="cooking" rows="15" cols="20"></textarea><br>
            <input type="submit" value="Add Recipe!">

        </form>


        <h1>Healthy Recipes</h1>
        {% if hlthyRecs %}
            {% for item in hlthyRecs %}
                <h3>Healthy Recipe</h3>
                <ul>
                    <li>{{item.name}}</li>
                    <li>{{item.ingredients}}</li>
                    <li>{{item.preperation}}</li>
                    <li>{{item.cooking}}</li>
                </ul>
            {% endfor %}
        {% endif %}

        <h1>Dank Recipes</h1>
        {% if dankRecs %}
            {% for dankRec in dankRecs %}
                <h3>Dank Recipe</h3>
                <ul>
                    <li>{{dankRec.name}}</li>
                    <li>{{dankRec.ingredients}}</li>
                    <li>{{dankRec.preperation}}</li>
                    <li>{{dankRec.cooking}}</li>
                </ul>

            {% endfor %}
        {% endif %}
    {% endblock %}

</body>
</html>