body {
    background-color: beige;
}

nav ul {
    list-style: none;
    width: 15%;
    background-color: lightblue;
    padding: 0;
    height: 100%;
    position: fixed;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    color: #000;
    text-decoration: none;
    padding:8px 16px;
}

nav ul li a:hover {
    background-color: darkcyan;
}

nav ul li a.active {
    background-color: aquamarine;
}

div.main{
    width: 84%;
    margin-left: 16%;
}

#myrecipes {
    width: 50%;
    word-break: break-all;
    float: left;

}

#addrecipes {
    float: left;
    width: 50%;

}

